<div class="overflow-auto no-scrollbar pt-10 h-full md:h-[calc(100vh-10rem)] border-2 rounded-3xl shadow-2xl border-slate-400 dark:border-slate-700 bg-base-s dark:bg-dark-s text-font-base dark:text-font-dark flex flex-col gap-5">
    <div routerLink="/workspace/{{workspace.key}}" [routerLinkActive]="'bg-white dark:bg-gray-950'" [class]="!readonly&&workspace.key==this.getCurWsId()?'outline-dashed':''" class="px-8 py-4 font-bold cursor-pointer bg-slate-300 dark:bg-gray-800 hover:bg-slate-100 hover:dark:bg-gray-950 w-11/12 h-fit mx-auto rounded-md flex" *ngFor="let workspace of workspaces | keyvalue" >
        <input [readOnly]="readonly||workspace.key!=this.getCurWsId()" [class]="readonly||workspace.key!=this.getCurWsId()?'cursor-pointer':''" class="w-full outline-none bg-transparent font-bold text-lg" [(ngModel)]="workspace.value.name"/>
        <svg *ngIf="readonly&&workspace.key==this.getCurWsId()" (click)="edit()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-7 rounded-full py-1 px-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
        </svg>
        <svg *ngIf="!readonly&&workspace.key==this.getCurWsId()" (click)="updateWorkspaceName()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-7 rounded-full py-1 px-2 bg-base-s dark:bg-dark-s">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
        </svg>
        <svg *ngIf="!readonly&&workspace.key==this.getCurWsId()" (click)="deleteWorspace()" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-12 h-7 rounded-full py-1 px-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
        </svg>
    </div>
    <div (click)="addWorkspace()" class="px-8 py-4 font-bold cursor-pointer bg-slate-300 dark:bg-gray-800 hover:bg-slate-100 hover:dark:bg-dark-p w-11/12 h-fit mx-auto rounded-md">
        <svg class="w-8 h-8 m-auto stroke-slate-500 opacity-50" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
        </svg>
    </div>
    <div class="py-7 px-4" *ngIf="auth.isLoading$ | async; else loaded">
        <div role="status" class="max-w-sm animate-pulse">
            <div class="h-2.5 bg-base-p rounded-full dark:bg-dark-p w-32 mb-4"></div>
            <div class="h-2 bg-base-p rounded-full dark:bg-dark-p max-w-[240px] mb-2.5"></div>
        </div>
    </div>
    <ng-template #loaded>
        <div class="p-4 pb-8" *ngIf="auth.user$ | async as user">
            <p class="font-bold text-lg break-all">{{ user.name }}</p>
            <p class="text-slate-400 dark:text-slate-600 break-all">{{ user.email }}</p>
        </div>
    </ng-template>
</div>
